---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.post-meta{
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}

.author-image{
	width: 60px;
	height: 60px;
	top: -3rem;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	&:hover{
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
	};
}

.post-footer{
	border-top: #CCC 1px solid;
	margin-top: 6rem;
	padding-top: 6rem;
}

/*
.post-date{
	margin-left: 0;
}
*/


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
