---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}


body {
    letter-spacing: 0.01rem;
    font-size: 1.6rem;
    line-height: 1.75em;
}

/*
==================================
	PICTURES
==================================
*/


/*Smaller images*/

.s-img{
    width: 80%;
    max-width: none;
    margin: 0 5%;
}

/*Edit margin if changing picture size: */

.post-content .full-img {
    width: 110%;
    max-width: none;
    margin: 0 -5%;
}

/*
==================================
*/

/*
Horisontal line
*/
hr{
	margin-top: 1.5em;
	margin-bottom:1.5em;
}

.post-meta{
	margin-top: 0rem;
	margin-bottom: 0.5rem;
}

.author-image{
	width: 60px;
	height: 60px;
	top: -3rem;
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	&:hover{
		filter: grayscale(0);
		-webkit-filter: grayscale(0);
	};
}

.post-footer{
	border-top: #CCC 1px solid;
	margin-top: 6rem;
	padding-top: 6rem;
}

/*
.post-date{
	margin-left: 0;
}
*/


// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;
